@import 'nib/vendor'

$shadow-size = 5px
$hover-offset = 2px

shadow-button($color, $shadow-color, $hover-color, $hover-shadow-color = $shadow-color)
  background-color: $color
  box-shadow: 0 $shadow-size 0 $shadow-color

  &:hover
    background-color: $hover-color
    box-shadow: 0 ($shadow-size - $hover-offset) 0 $hover-shadow-color // TODO: This may be rarely needed and optional




.dom-selector
  &__bar
    position: fixed
    width: 100%
    padding: 0 0 $shadow-size 0
    margin: 0
    bottom: 0
    left: 0
    right: 0
    background: ghostwhite
    font-family: Arial, sans-serif
    font-size: 1em

  &__list
    list-style-type: none
    padding: 0
    margin: 0

    li
      display: inline

  &__button
    position: relative
    display: inline-block
    height: 2em
    line-height: 2em
    margin: 0
    padding: 0 .5em
    white-space: nowrap
    color: white
    cursor: pointer
    transition: background-color .3s ease-out

    &:hover
      top: $hover-offset

  &__elem
    width: 5em
    shadow-button(grey, black, #bdc3c7, #6c7a89)

    &:after
      content: ' '
      position: absolute
      top: 0
      left: -1em /* -(border = arrow height = array width) */
      border: 1em solid transparent /* font-size + padding-top + padding-bottom */
      border-right-color: grey
      border-left-width: 0
      z-index: 5
      transition: border-color .3s ease-out

    &:hover:after
      border-right-color: #BDC3C7

    &--selected:after
      border-right-color: #e74c3c

    &--selected:hover:after
      border-right-color: #e26a6a

  &__elem--selected,
  &__cancel-control
    shadow-button(#e74c3c, #96281b, #e26a6a)

  &__control
    float: right
    width: 2em
    text-align: center

  &__ok-control
    shadow-button(#2ecc71, #1E824C, #90C695)

    &--disabled,
    &--disabled:hover
      top: 0
      background-color: #c8f7c5
      box-shadow: 0 5px 0 #87d37c
      cursor: not-allowed

  &__selected
    border: 1px solid red

  &__highlighted
    border: 1px solid blue
