@import 'nib/vendor'

.dom-selector
  &__bar
    position: fixed
    width: 100%
    padding: 0 0 5px 0 /* Room for elem box shadow */
    margin: 0
    bottom: 0
    left: 0
    right: 0
    background: ghostwhite
    font-family: Arial, sans-serif
    font-size: 1em

  &__list
    list-style-type: none
    padding: 0
    margin: 0

    li
      display: inline

  &__button
    position: relative
    display: inline-block
    height: 2em
    line-height: 2em
    margin: 0
    padding: 0 .5em
    white-space: nowrap
    color: white
    cursor: pointer
    transition: background-color .3s ease-out

    &:hover
      top: 2px

  &__elem
    width: 5em
    background-color: grey
    box-shadow: 0 5px 0 black

    &:after
      content: ' '
      position: absolute
      top: 0
      left: -1em /* -(border = arrow height = array width) */
      border: 1em solid transparent /* font-size + padding-top + padding-bottom */
      border-right-color: grey
      border-left-width: 0
      z-index: 5
      transition: border-color .3s ease-out

    &:hover
      background-color: #BDC3C7
      box-shadow: 0 3px 0 #6C7A89

    &:hover:after
      border-right-color: #BDC3C7

    &--selected:after
      border-right-color: #e74c3c

    &--selected:hover:after
      border-right-color: #e26a6a

  &__elem--selected,
  &__cancel-control
    background-color: #e74c3c
    box-shadow: 0 5px 0 #96281b

  &__elem--selected:hover,
  &__cancel-control:hover
    background-color: #e26a6a
    box-shadow: 0 3px 0 #96281b

  &__control
    float: right
    width: 2em
    text-align: center

  &__ok-control
    background-color: #2ecc71
    box-shadow: 0 5px 0 #1E824C

    &:hover
      background-color: #90C695

    &--disabled,
    &--disabled:hover
      top: 0
      background-color: #c8f7c5
      box-shadow: 0 5px 0 #87d37c
      cursor: not-allowed

  &__selected
    border: 1px solid red

  &__highlighted
    border: 1px solid blue
