@import 'nib/vendor'

$shadow-size = 5px
$hover-offset = 2px
$arrow-side = 1em

$green = #2ecc71
$green-shadow = #1e824c
$green-hover = #90c695
$green-disabled-shadow = #87d37c
$green-disabled = #c8f7c5

$grey = grey
$grey-shadow = black
$grey-hover-shadow = #6c7a89
$grey-hover = #bdc3c7

$red = #e74c3c
$red-shadow = #96281b
$red-hover = #e26a6a


shadow-button($color, $shadow-color, $hover-color, $hover-shadow-color = $shadow-color)
  background-color: $color
  box-shadow: 0 $shadow-size 0 $shadow-color

  &:hover, &.dom-selector__elem--hovered
    top: $hover-offset
    background-color: $hover-color
    box-shadow: 0 ($shadow-size - $hover-offset) 0 $hover-shadow-color // TODO: This may be rarely needed and optional

arrow-shadow-button($color, $shadow-color, $hover-color, $hover-shadow-color = $shadow-color)
  shadow-button($color, $shadow-color, $hover-color, $hover-shadow-color)

  &:after
    border-right-color: $color

  &:hover:after, &.dom-selector__elem--hovered:after
    border-right-color: $hover-color

apply-to-visible-children()
  {block}
  table& > * > tr >
    td, th
      {block}
  > tr >
    td, th
      {block}
  & >
    td, th
      {block}
  ul& > li
    {block}

selection($color, $shadow-color)
  background-color: $color!important
  border-radius: 3px
  box-shadow: 0 2px $shadow-color
  transition: all .2s ease-in
  cursor: pointer


.dom-selector
  &__bar
    position: fixed
    width: 100%
    padding: 0
    margin: 0
    bottom: 0
    left: 0
    right: 0
    background: ghostwhite
    font-family: Arial, sans-serif
    font-size: $arrow-side
    z-index: 16777271

  &__list
    list-style-type: none
    padding: 0
    margin: 0

    li
      display: inline

  &__button
    position: relative
    display: inline-block
    height: 2em
    line-height: 2em
    margin: 0
    padding: 0 .5em
    white-space: nowrap
    color: white
    cursor: pointer
    transition: background-color .3s ease-out

  &__elem
    arrow-shadow-button($grey, $grey-shadow, $grey-hover, $grey-hover-shadow)

    &:after
      content: ' '
      position: absolute
      top: 0
      left: -($arrow-side)
      border-width: $arrow-side
      border-style: solid
      border-bottom-color: transparent
      border-top-color: transparent
      border-left-width: 0
      z-index: 5
      transition: border-color .3s ease-out

    &--selected
      arrow-shadow-button($red, $red-shadow, $red-hover)

    &__text-wrapper
      width: 5em
      display: inline-block
      overflow: hidden

  &__cancel-control
    shadow-button($red, $red-shadow, $red-hover)

  &__control
    float: right
    width: 2em
    text-align: center

  &__ok-control
    shadow-button($green, $green-shadow, $green-hover)

    &--disabled,
    &--disabled:hover
      top: 0
      background-color: $green-disabled
      box-shadow: 0 5px 0 $green-disabled-shadow
      cursor: not-allowed

  &__hovered
    $apply-to-visible-children
      selection($grey-hover, $grey-hover-shadow)

    +apply-to-visible-children()
      & // TODO: Remove this workaround for @extend in block mixins once https://github.com/LearnBoost/stylus/issues/1507 is fixed
        @extend {selector()} $apply-to-visible-children

  &__selected
    $apply-to-visible-children
      selection($red, $red-shadow)

    +apply-to-visible-children()
      & // TODO: Remove this workaround for @extend in block mixins once https://github.com/LearnBoost/stylus/issues/1507 is fixed
        @extend {selector()} $apply-to-visible-children

